.navbar {
    overflow: hidden;
    background-color:black;
    width: 102%;
    margin-left: -1%;
    margin-top: -1%;
}
.navbar a {
    float: right;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    width: 140px;
    padding-top: 14px;
    padding-bottom: 5px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #333;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 140px;
    box-shadow: 0px 20px 20px 0px #333;
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown-content a:hover {
    background-color: #333;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.title{
    text-align: center
}
table.tabela{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
}
tr:first-child td{
    font-size: 1.4em;
    font-weight: bold;
}
button a{
    text-decoration: none;
    color: black;
    font-size: 1.4em;
    font-weight: bold;
}
button.lista{
    border: none;
    background: none;
}
tr:nth-child(2n){
    background:rgba(114, 114, 114, 0.445);
}
form{
    width: 60%;
    margin-left: 20%;
}
input, select{
    border: 1px solid black;
    float: right;
    height: 30px;
    width: 50%;
}
label{
    font-size: 30px;
}
option, select{
    font-size: 20px;
    font-weight: bold;
}
button.submit{
    width: 30%;
    height: 40px;
    margin-left: 35%;
    font-size: 120%;
    border-radius: 10px;
}
a.erro{
    color:black;
}